@import "tailwindcss";

:root {
  --primary: #121212;
  --color-chartreuse-green-60: #b8ff34;
  --color-white-solid: #f0f0f0;
  --color-black-solid: #121212;
  --color-grey-14: #212326;
  --color-blue-24: #2a2e4e;
  --color-orange-58: #fbc02d;
  --color-red-55: #e53935;
  --color-green-49: #4caf50;
  --color-azure-42: #1565c0;
  --color-azure-49: #0081fb;
  --color-azure-44: #0064e1;
  --color-orange-50: #ffb300;
  --color-spring-green-43: #0acf83;
  --color-azure-55: #1abcfe;
  --color-red-69: #ff7262;
  --color-red-53: #f24e1e;
  --color-violet-67: #a259ff;
  --color-azure-50: #05f;
  --color-blue-50: #03f;
  --color-azure-52: #146ef5;
  --color-blue-2: #121212;
  --color-violet-59: #823af3;
  --color-blue-59: #4b66e1;
  --color-cyan-47: #01f1c4;
  --color-grey-13: #231f20;
  --color-white--800: rgba(255, 255, 255, 0.8);
  --color-black--0: rgba(0, 0, 0, 0);
  --color-grey-64-400: rgba(163, 163, 163, 0.4);
  --color-white--500: rgba(255, 255, 255, 0.5);
}
img {
  max-width: 100%;
  max-height: 100%;
}
body,
html {
  background-color: var(--primary);
  color: #ffffff;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* 1920px screens typhography */
.navigation_text {
  @apply font-medium text-base text-[var(--color-white-solid)] leading-[16px] tracking-[0%];
}
.hero_title {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.hero_heading {
  @apply font-bold text-[150px] leading-[90%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.hero_click {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply font-semibold text-base leading-[100%] text-[var(--color-black-solid)];
}
.hero_click:hover {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply bg-[#a6ff00] text-[#121212];
}

.work_heading {
  @apply font-semibold text-[80px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.work_pragraph {
  @apply font-normal text-[20px] leading-[150%] text-[#FFFFFFE0] max-w-[576px];
}
.work_subtitle {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.work_number {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[#a6ff00];
}
.work_img {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.35);
}
.story_heading {
  @apply font-semibold text-[80px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.story_title {
  @apply font-semibold text-[15px] leading-[28px] tracking-[0.2em] uppercase text-[var(--color-chartreuse-green-60)];
}
.story_pragraph {
  @apply font-normal text-[20px] leading-[150%] text-[#FFFFFFE0] max-w-[1013px];
}
.motivation_heading {
  @apply font-semibold text-[80px] leading-[109%] tracking-[-0.05em] uppercase text-[#fcfcfc];
}
.motivation_subheading {
  @apply font-semibold text-[20px] leading-[120%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.motivation_pagaraph {
  @apply font-medium text-[20px] leading-[150%] text-[#FFFFFFE0];
}
.motivation_italic {
  @apply italic font-normal text-[20px] leading-[150%] text-[#fcfcfc];
}

.experience_heading {
  @apply font-bold text-[24px] leading-[125%] tracking-[-0.03em] uppercase text-[#fcfcfc];
}
.experience_headingsaprator {
  @apply font-light text-[30px] tracking-[-0.02em] text-[#FFFFFFE0];
}
.experience_date {
  @apply font-light text-[23px] tracking-[-0.02em] capitalize text-[#FFFFFFE0];
}
.experience_subheading {
  @apply font-medium text-[22px] leading-[91%] tracking-[-0.01em] capitalize text-[#fcfcfc];
}
.stack_heading {
  @apply font-bold text-[30px] leading-[100%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.stack_subheading {
  @apply font-medium text-[22px] leading-[91%] tracking-[-0.01em] text-[#fcfcfc];
}
.footer_heading {
  @apply font-bold text-[100px] leading-[118%] tracking-[-0.05em] uppercase text-center text-[#fcfcfc];
}
.footer_pagaraph {
  @apply font-semibold text-[20px] leading-[150%] uppercase text-center text-[#fcfcfc];
}
.footer_link {
  @apply font-semibold text-[18px] leading-[111%] uppercase text-[#fcfcfc] inline-block;
}
.footer_copyright {
  @apply font-semibold text-[20px] leading-[100%] uppercase text-[#fcfcfc];
}
/* Popup code typography */
.popup_box {
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.popup_heading {
  @apply font-medium text-[18px] leading-[156%] text-[#101828];
}
.popup_paragraph {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_link {
  @apply font-normal text-[14px] leading-[143%] text-[var(--color-black-solid)];
}
.popup_thankyou {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_button {
  @apply font-semibold text-[16px] leading-[150%] text-[var(--color-black-solid)];
}
/* 1920px screens typhography end*/

@media (max-width:1080px){
/* .navigation_text {
  @apply font-medium text-base text-[var(--color-white-solid)] leading-[16px] tracking-[0%];
} */
/* .hero_title {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
} */
.hero_heading {
  @apply font-bold text-[120px] leading-[90%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .hero_click {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply font-semibold text-base leading-[100%] text-[var(--color-black-solid)];
} */
/* .hero_click:hover {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply bg-[#a6ff00] text-[#121212];
} */

.work_heading {
  @apply font-semibold text-[70px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.work_pragraph {
  @apply font-normal text-[18px] leading-[150%] text-[#FFFFFFE0] max-w-[576px];
}
/* .work_subtitle {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.work_number {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[#a6ff00];
} */
/* .work_img {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.35);
} */
.story_heading {
  @apply font-semibold text-[70px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .story_title {
  @apply font-semibold text-[15px] leading-[28px] tracking-[0.2em] uppercase text-[var(--color-chartreuse-green-60)];
} */
.story_pragraph {
  @apply font-normal text-[18px] leading-[150%] text-[#FFFFFFE0] max-w-[1013px];
}
.motivation_heading {
  @apply font-semibold text-[70px] leading-[109%] tracking-[-0.05em] uppercase text-[#fcfcfc];
}
/* .motivation_subheading {
  @apply font-semibold text-[20px] leading-[120%] tracking-[-0.02em] uppercase text-[#fcfcfc];
} */
.motivation_pagaraph {
  @apply font-medium text-[18px] leading-[150%] text-[#FFFFFFE0];
}
.motivation_italic {
  @apply italic font-normal text-[18px] leading-[150%] text-[#fcfcfc];
}

.experience_heading {
  @apply font-bold text-[19px] leading-[125%] tracking-[-0.03em] uppercase text-[#fcfcfc];
}
.experience_headingsaprator {
  @apply font-light text-[30px] tracking-[-0.02em] text-[#FFFFFFE0];
}
.experience_date {
  @apply ml-1 font-light text-[15px] tracking-[-0.02em] capitalize text-[#FFFFFFE0];
}
.experience_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] capitalize text-[#fcfcfc];
}
.stack_heading {
  @apply font-bold text-[20px] leading-[100%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.stack_subheading {
  @apply font-medium text-[22px] leading-[91%] tracking-[-0.01em] text-[#fcfcfc];
}
.footer_heading {
  @apply font-bold text-[80px] leading-[118%] tracking-[-0.05em] uppercase text-center text-[#fcfcfc];
}
.footer_pagaraph {
  @apply font-semibold text-[16px] leading-[150%] uppercase text-center text-[#fcfcfc];
}
.footer_link {
  @apply font-semibold text-[18px] leading-[111%] uppercase text-[#fcfcfc] inline-block;
}
.footer_copyright {
  @apply font-semibold text-[18px] leading-[100%] uppercase text-[#fcfcfc];
}
/* Popup code typography */
.popup_box {
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.popup_heading {
  @apply font-medium text-[18px] leading-[156%] text-[#101828];
}
.popup_paragraph {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_link {
  @apply font-normal text-[14px] leading-[143%] text-[var(--color-black-solid)];
}
.popup_thankyou {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_button {
  @apply font-semibold text-[16px] leading-[150%] text-[var(--color-black-solid)];
}





}
@media (max-width:768px){
/* .navigation_text {
  @apply font-medium text-base text-[var(--color-white-solid)] leading-[16px] tracking-[0%];
} */
/* .hero_title {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
} */
.hero_heading {
  @apply font-bold text-[90px] leading-[90%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .hero_click {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply font-semibold text-base leading-[100%] text-[var(--color-black-solid)];
} */
/* .hero_click:hover {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply bg-[#a6ff00] text-[#121212];
} */

.work_heading {
  @apply font-semibold text-[50px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.work_pragraph {
  @apply font-normal text-[16px] leading-[150%] text-[#FFFFFFE0] max-w-[576px];
}
/* .work_subtitle {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.work_number {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[#a6ff00];
} */
/* .work_img {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.35);
} */
.story_heading {
  @apply font-semibold text-[50px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .story_title {
  @apply font-semibold text-[15px] leading-[28px] tracking-[0.2em] uppercase text-[var(--color-chartreuse-green-60)];
} */
.story_pragraph {
  @apply font-normal text-[16px] leading-[150%] text-[#FFFFFFE0] max-w-[1013px];
}
.motivation_heading {
  @apply font-semibold text-[50px] leading-[109%] tracking-[-0.05em] uppercase text-[#fcfcfc];
}
/* .motivation_subheading {
  @apply font-semibold text-[20px] leading-[120%] tracking-[-0.02em] uppercase text-[#fcfcfc];
} */
.motivation_pagaraph {
  @apply font-medium text-[16px] leading-[150%] text-[#FFFFFFE0];
}
.motivation_italic {
  @apply italic font-normal text-[16px] leading-[150%] text-[#fcfcfc];
}

.experience_heading {
  @apply font-bold text-[22px] leading-[125%] tracking-[-0.03em] uppercase text-[#fcfcfc];
}
.experience_headingsaprator {
  @apply font-light text-[30px] tracking-[-0.02em] text-[#FFFFFFE0];
}
.experience_date {
  @apply ml-1 font-light text-[16px] tracking-[-0.02em] capitalize text-[#FFFFFFE0];
}
.experience_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] capitalize text-[#fcfcfc];
}
.stack_heading {
  @apply font-bold text-[20px] leading-[100%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.stack_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] text-[#fcfcfc];
}
.footer_heading {
  @apply font-bold text-[50px] leading-[118%] tracking-[-0.05em] uppercase text-center text-[#fcfcfc];
}
.footer_pagaraph {
  @apply font-semibold text-[16px] leading-[150%] uppercase text-center text-[#fcfcfc];
}
.footer_link {
  @apply font-semibold text-[16px] leading-[111%] uppercase text-[#fcfcfc] inline-block;
}
.footer_copyright {
  @apply font-semibold text-[16px] leading-[100%] uppercase text-[#fcfcfc];
}
/* Popup code typography */
.popup_box {
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.popup_heading {
  @apply font-medium text-[18px] leading-[156%] text-[#101828];
}
.popup_paragraph {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_link {
  @apply font-normal text-[14px] leading-[143%] text-[var(--color-black-solid)];
}
.popup_thankyou {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_button {
  @apply font-semibold text-[16px] leading-[150%] text-[var(--color-black-solid)];
}





}
@media (max-width:640px){
/* .navigation_text {
  @apply font-medium text-base text-[var(--color-white-solid)] leading-[16px] tracking-[0%];
} */
/* .hero_title {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
} */
.hero_heading {
  @apply font-bold text-[70px] leading-[90%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .hero_click {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply font-semibold text-base leading-[100%] text-[var(--color-black-solid)];
} */
/* .hero_click:hover {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply bg-[#a6ff00] text-[#121212];
} */

.work_heading {
  @apply font-semibold text-[40px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.work_pragraph {
  @apply font-normal text-[16px] leading-[150%] text-[#FFFFFFE0] max-w-[576px];
}
/* .work_subtitle {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.work_number {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[#a6ff00];
} */
/* .work_img {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.35);
} */
.story_heading {
  @apply font-semibold text-[40px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .story_title {
  @apply font-semibold text-[15px] leading-[28px] tracking-[0.2em] uppercase text-[var(--color-chartreuse-green-60)];
} */
.story_pragraph {
  @apply font-normal text-[16px] leading-[150%] text-[#FFFFFFE0] max-w-[1013px];
}
.motivation_heading {
  @apply font-semibold text-[40px] leading-[109%] tracking-[-0.05em] uppercase text-[#fcfcfc];
}
/* .motivation_subheading {
  @apply font-semibold text-[20px] leading-[120%] tracking-[-0.02em] uppercase text-[#fcfcfc];
} */
.motivation_pagaraph {
  @apply font-medium text-[16px] leading-[150%] text-[#FFFFFFE0];
}
.motivation_italic {
  @apply italic font-normal text-[16px] leading-[150%] text-[#fcfcfc];
}

.experience_heading {
  @apply font-bold text-[22px] leading-[125%] tracking-[-0.03em] uppercase text-[#fcfcfc];
}
.experience_headingsaprator {
  @apply font-light text-[30px] tracking-[-0.02em] text-[#FFFFFFE0];
}
.experience_date {
  @apply ml-1 font-light text-[16px] tracking-[-0.02em] capitalize text-[#FFFFFFE0];
}
.experience_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] capitalize text-[#fcfcfc];
}
.stack_heading {
  @apply font-bold text-[20px] leading-[100%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.stack_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] text-[#fcfcfc];
}
.footer_heading {
  @apply font-bold text-[40px] leading-[118%] tracking-[-0.05em] uppercase text-center text-[#fcfcfc];
}
.footer_pagaraph {
  @apply font-semibold text-[15px] leading-[150%] uppercase text-center text-[#fcfcfc];
}
.footer_link {
  @apply font-semibold text-[15px] leading-[111%] uppercase text-[#fcfcfc] inline-block;
}
.footer_copyright {
  @apply font-semibold text-[16px] leading-[100%] uppercase text-[#fcfcfc];
}
/* Popup code typography */
.popup_box {
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.popup_heading {
  @apply font-medium text-[18px] leading-[156%] text-[#101828];
}
.popup_paragraph {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_link {
  @apply font-normal text-[14px] leading-[143%] text-[var(--color-black-solid)];
}
.popup_thankyou {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_button {
  @apply font-semibold text-[16px] leading-[150%] text-[var(--color-black-solid)];
}





}
@media (max-width:540px){
/* .navigation_text {
  @apply font-medium text-base text-[var(--color-white-solid)] leading-[16px] tracking-[0%];
} */
.hero_title {
  @apply font-semibold text-[24px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.hero_heading {
  @apply font-bold text-[60px] leading-[90%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .hero_click {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply font-semibold text-base leading-[100%] text-[var(--color-black-solid)];
} */
/* .hero_click:hover {
  box-shadow: 0 1px 12px 0 rgba(184, 255, 52, 0.42);
  @apply bg-[#a6ff00] text-[#121212];
} */

.work_heading {
  @apply font-semibold text-[30px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
.work_pragraph {
  @apply font-normal text-[15px] leading-[150%] text-[#FFFFFFE0] max-w-[576px];
}
/* .work_subtitle {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[var(--color-white-solid)];
}
.work_number {
  @apply font-semibold text-[18px] leading-[100%] tracking-[0.02em] uppercase text-[#a6ff00];
} */
/* .work_img {
  box-shadow: 0 4px 32px 0 rgba(255, 255, 255, 0.35);
} */
.story_heading {
  @apply font-semibold text-[30px] leading-[109%] tracking-[-0.05em] uppercase text-[var(--color-white-solid)];
}
/* .story_title {
  @apply font-semibold text-[15px] leading-[28px] tracking-[0.2em] uppercase text-[var(--color-chartreuse-green-60)];
} */
.story_pragraph {
  @apply font-normal text-[15px] leading-[150%] text-[#FFFFFFE0] max-w-[1013px];
}
.motivation_heading {
  @apply font-semibold text-[30px] leading-[109%] tracking-[-0.05em] uppercase text-[#fcfcfc];
}
/* .motivation_subheading {
  @apply font-semibold text-[20px] leading-[120%] tracking-[-0.02em] uppercase text-[#fcfcfc];
} */
.motivation_pagaraph {
  @apply font-medium text-[15px] leading-[150%] text-[#FFFFFFE0];
}
.motivation_italic {
  @apply italic font-normal text-[15px] leading-[150%] text-[#fcfcfc];
}

.experience_heading {
  @apply font-bold text-[20px] leading-[125%] tracking-[-0.03em] uppercase text-[#fcfcfc];
}
.experience_headingsaprator {
  @apply font-light text-[16px] tracking-[-0.02em] text-[#FFFFFFE0];
}
.experience_date {
  @apply ml-1 font-light text-[15px] tracking-[-0.02em] capitalize text-[#FFFFFFE0];
}
.experience_subheading {
  @apply font-medium text-[18px] leading-[91%] tracking-[-0.01em] capitalize text-[#fcfcfc];
}
.stack_heading {
  @apply font-bold text-[20px] leading-[100%] tracking-[-0.02em] uppercase text-[#fcfcfc];
}
.stack_subheading {
  @apply font-medium text-[16px] leading-[91%] tracking-[-0.01em] text-[#fcfcfc];
}
.footer_heading {
  @apply font-bold text-[30px] leading-[118%] tracking-[-0.05em] uppercase text-center text-[#fcfcfc];
}
.footer_pagaraph {
  @apply font-semibold text-[14px] leading-[150%] uppercase text-center text-[#fcfcfc];
}
.footer_link {
  @apply font-semibold text-[16px] leading-[111%] uppercase text-[#fcfcfc] inline-block;
}
.footer_copyright {
  @apply font-semibold text-[14px] leading-[100%] uppercase text-[#fcfcfc];
}
/* Popup code typography */
.popup_box {
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.popup_heading {
  @apply font-medium text-[18px] leading-[156%] text-[#101828];
}
.popup_paragraph {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_link {
  @apply font-normal text-[14px] leading-[143%] text-[var(--color-black-solid)];
}
.popup_thankyou {
  @apply font-normal text-[14px] leading-[143%] text-[#667085];
}
.popup_button {
  @apply font-semibold text-[16px] leading-[150%] text-[var(--color-black-solid)];
}





}